html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body { background-color: black; overflow: hidden; }

.s1-slider {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.s1-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#slide {
  padding: 50px;
  width: 100%;
  height: 600px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}

.item{
  width: 110vh;
  height: 90%;
  object-fit: cover;
  overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 25px 0 25px;
    transition: 1s;
    position: absolute;
    z-index: 1;
    background-position: center;
}
.item:nth-child(1){
    transform: translate(-180%);
    opacity: 0;
}
.item:nth-child(2){
    opacity: 0.5;
    transform: translate(-100%);
}
.item:nth-child(3){
    transform: translate(0%);
}
.item:nth-child(4){
    opacity: 0.5;
    transform: translate(100%);
}
.item:nth-child(n+5){
    transform: translate(270%);
    opacity: 0;
}

.buttons{
    position: absolute;
    bottom:30px;
    left:0;
    text-align: center;
    width:100%;
}.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}
.buttons button:hover{
    background-color: #bac383;
}